.testimonial-card {
  position: relative;
  /* width: 350px; */
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 1rem; /* rounded-2xl */
  border: 1px solid var(--testimonial-bg-border); /* zinc-200 */
  /* background: linear-gradient(180deg, #fafafa, #f5f5f5); */
  padding: 1.5rem 2rem;
  background-color: var(--testimonial-bg);
  color: var(--testimonial-text);

  height: 100%;
}

.testimonial-overlay {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: -0.125rem;
  left: -0.125rem;
  z-index: -1;
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
}

blockquote {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take full available height */
}

.testimonial-quote {
  flex: 1; /* Allow quote to grow and push info down */
  position: relative;
  z-index: 20;
  font-size: 18px; /* text-sm */
  line-height: 28.8px;
  font-weight: var(--font-weight-regular);
  font-size: 18px;
}

.testimonial-info {
  position: relative;
  z-index: 20;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.testimonial-info-name {
  font-size: 18px; /* text-base */
  /* line-height: 1.6; */
  font-weight: var(--font-weight-semiBold);
}

.testimonial-title {
  font-size: 16px; /* text-sm */
  line-height: 1.6;
  font-weight: 400;
}
