.companyInfo {
  font-size: 22px;
  letter-spacing: -0.22px;
  margin-bottom: 1rem;
}

.location {
  display: row;
}
.expDate {
  color: var(--shoot-up-arrow);
  font-size: 18px;
  font-weight: var(--font-weight-regular);
}
.workDescWrap {
  padding-left: 2rem;
}
.descBody {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  color: var(--text-color-neutral);
  width: 75%;
  line-height: 160%;
}
@media screen and (max-width: 768px) {
  .companyInfo {
    font-size: 18px;
  }
  .location {
    display: none;
  }
  .expDate {
    font-size: 16px;
  }
  .workDescWrap {
    padding-left: 1rem;
  }
  .descBody {
    width: 100%;
    font-size: 16px;
  }
}
