.form-wrapper {
  width: 70%;
}

.form-group {
  width: 46%;
}
.text-area-wrapper {
  margin-top: 2.75rem;
}
#exampleFormControlInput1,
#exampleFormControlTextarea1 {
  color: var(--bg-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color-neutral-border);
  box-shadow: none;
  padding-left: 0px;
  border-radius: 0px;
}
.text-area-form {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--text-color-neutral-border);
  border-radius: 0px;
  box-shadow: none;
}

.formHead {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  color: var(--footer-heading);
}
.formDesc {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  color: #c6c6d7;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 100%;
  }
  .form-group {
    width: 100%;
  }
  .flex-wrapper {
    flex-direction: column;
  }
  .formHead {
    font-size: 30px;
  }
}
