@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Schibsted Grotesk", sans-serif, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Theme Variables */
:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  /* added for the sake of universal btn that needs to maintain white text on hover  */
  --default-white: #e3f1f4;

  --bg-color: #e3f1f4;
  --text-color: #171738;
  --text-color-neutral: #383852;
  --text-color-neutral-border: #a8a8bd;
  --primary-color: #377dff;
  --shoot-up-arrow: #5d5d78;
  /* --primary-color: #2a2ac7; */
  --icon-color: #3030d4;
  --secondary-color: #eaeaea;
  --resume-headline: #13132f;
  --flip-word-body: #5d5d78;
  --footer-background: #141c2f;
  --footer-heading: #ffffff;
  --testimonial-bg: #383852;
  --testimonial-bg-border: #c6c6d7;
  --testimonial-text: #e3f1f4;

  --main-border-divider: #aaaadd;
  --floating-icon-color: #86869b;
  --new-icon-title-blue: #3030d4;
}

[data-theme="dark"] {
  /* same purpose as in non dark mode above */
  --default-white: #e3f1f4;

  --bg-color: #12122b;
  --text-color: #fdfdff;
  --text-color-neutral: #ececec;
  --text-color-neutral-border: #a8a8bd;
  --primary-color: #377dff;
  --icon-color: #7373fd;
  --secondary-color: #333333;

  --shoot-up-arrow: #fdfdff;
  --resume-headline: #fdfdff;
  --flip-word-body: #a1a1a1;
  --footer-background: #141c2f;
  --footer-heading: #ffffff;
  --testimonial-bg: #13132f;
  --testimonial-bg-border: #383852;
  --testimonial-text: #dfdfed;

  --main-border-divider: #5d5d78;
  --floating-icon-color: #c6c6d7;
  --new-icon-title-blue: #7373fd;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

/* .animate-scroll {
  animation: scroll var(--animation-duration, 20s) linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.scroller ul {
  list-style: none;
} */
